section[data-testid="stSidebar"]{
    background:#081321;
}

section[data-testid="stSidebar"] *{
    color:white;
}

.stApp{
    background:#f6f8fc;
}

h1{
    color:#0d6efd;
    font-weight:800;
}

.stMetric{
    border-radius:15px;
    background:white;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.stButton>button{
    width:100%;
    border-radius:12px;
    height:48px;
    background:#0d6efd;
    color:white;
    font-weight:bold;
}

.stButton>button:hover{
    background:#084298;
}

div[data-testid="stMetric"]{
    border-radius:15px;
}
